
[Desktop Entry]
Name=GeodesicGears
Exec=/usr/lib/xscreensaver/geodesicgears -root
TryExec=/usr/lib/xscreensaver/geodesicgears
Comment=A set of meshed gears arranged on the surface of a sphere. http://en.wikipedia.org/wiki/Geodesic_dome http://en.wikipedia.org/wiki/Involute_gear Written by Jamie Zawinski.
