
[Desktop Entry]
Name=ProjectivePlane
Exec=/usr/lib/xscreensaver/projectiveplane -root
TryExec=/usr/lib/xscreensaver/projectiveplane
Comment=This animates a 4D embedding of the real projective plane. You can walk on the surface of the real projective plane or rotate it in 4D or walk on it while it rotates in 4D. Inspired by Thomas Banchoff's book "Beyond the Third Dimension: Geometry, Computer Graphics, and Higher Dimensions", Scientific American Library, 1990. http://en.wikipedia.org/wiki/Real_projective_plane http://en.wikipedia.org/wiki/Roman_surface http://en.wikipedia.org/wiki/Cross_cap http://en.wikipedia.org/wiki/Moebius_strip http://mathworld.wolfram.com/RealProjectivePlane.html http://mathworld.wolfram.com/RomanSurface.html http://mathworld.wolfram.com/Cross-Cap.html http://mathworld.wolfram.com/MoebiusStrip.html Written by Carsten Steger.
