
[Desktop Entry]
Name=UnknownPleasures
Exec=/usr/lib/xscreensaver/unknownpleasures -root
TryExec=/usr/lib/xscreensaver/unknownpleasures
Comment=PSR B1919+21 (AKA CP 1919) was the first pulsar ever discovered: a spinning neutron star emitting a periodic lighthouse-like beacon. An illustration of the signal received from it was published in Scientific American in 1971, and later in The Cambridge Encyclopedia of Astronomy in 1977, where it was seen by Stephen Morris, the drummer of Joy Division, and was consequently appropriated by Peter Saville for the cover of the band's album "Unknown Pleasures". http://en.wikipedia.org/wiki/Pulsar http://en.wikipedia.org/wiki/PSR_B1919%2B21 http://en.wikipedia.org/wiki/Unknown_Pleasures http://en.wikipedia.org/wiki/Peter_Saville_%28graphic_designer%29 http://en.wikipedia.org/wiki/Joy_Division Written by Jamie Zawinski.
